:root {
  /* @link https://utopia.fyi/space/calculator?c=320,21,1.2,1240,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.2908rem + 0.1087vw, 0.375rem);
  --space-2xs: clamp(0.6875rem, 0.6658rem + 0.1087vw, 0.75rem);
  --space-xs: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --space-s: clamp(1.3125rem, 1.2473rem + 0.3261vw, 1.5rem);
  --space-m: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
  --space-l: clamp(2.625rem, 2.4946rem + 0.6522vw, 3rem);
  --space-xl: clamp(3.9375rem, 3.7418rem + 0.9783vw, 4.5rem);
  --space-2xl: clamp(5.25rem, 4.9891rem + 1.3043vw, 6rem);
  --space-3xl: clamp(7.875rem, 7.4837rem + 1.9565vw, 9rem);

  /* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1240,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.9115rem, 0.8946rem + 0.0844vw, 0.96rem);
  --step--1: clamp(1.0938rem, 1.0568rem + 0.1848vw, 1.2rem);
  --step-0: clamp(1.3125rem, 1.2473rem + 0.3261vw, 1.5rem);
  --step-1: clamp(1.575rem, 1.4707rem + 0.5217vw, 1.875rem);
  --step-2: clamp(1.89rem, 1.7322rem + 0.7891vw, 2.3438rem);
  --step-3: clamp(2.268rem, 2.0378rem + 1.1508vw, 2.9297rem);
  --step-4: clamp(2.7216rem, 2.3945rem + 1.6357vw, 3.6621rem);
  --step-5: clamp(3.2659rem, 2.8097rem + 2.2812vw, 4.5776rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.hero {
  display: flex;
  gap: var(--space-s);
  flex-direction: column;
}

body.dark {
  background-color: #131314;
  color: white;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.25) 1px,
    transparent 0
  );
  background-size: var(--step-2) var(--step-2);
}

body {
  font-size: var(--step-3);
  font-family: 'Reddit Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  padding: var(--space-l) var(--space-m);
}

.pacifico {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

.pacifico.light {
  font-weight: 200;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

article {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-3xs);
}

.flex.stretch {
  align-items: stretch;
}

section:not(:last-child) {
  margin-bottom: var(--space-l);
}

.career p {
  font-size: var(--step-1);
}

.firebase,
.ionic,
.angular,
.dotnet,
.csharp,
.angularjs,
.umbraco,
.d3,
.jquery,
.cordova,
.python,
.java,
.coldfusion,
.go,
.nodejs,
.tailwind,
.django,
.quasar,
.vue,
.sequelize,
.react,
.flutter,
.phonegap,
.threejs,
.wordpress,
.graphql,
.vitec-nordman {
  height: var(--step-2);
  aspect-ratio: 1/1;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.graphql {
  background-image: url('graphql.svg');
  aspect-ratio: 117.44/32;
}

.wordpress {
  background-image: url('wordpress.svg');
  aspect-ratio: 540/122.5;
  filter: brightness(0) invert(1);
  background-size: 90%;
}

.dotnet {
  height: var(--step-3);
}

img[src*='directus.webp'],
img[src*='qlik.svg'],
img[src*='typeorm.png'] {
  height: var(--step-2);
}

.threejs {
  background-image: url('threejs.svg');
  background-size: 122%;
  background-position: -3px -4px;
}

.dark .threejs,
img[src*='miller.png'] {
  filter: brightness(0) invert(1);
}

.react {
  background-image: url('react.svg');
}

.flutter {
  background-image: url('flutter.svg');
}

.sequelize {
  background-image: url('sequelize.svg');
}

.django {
  background-image: url('django.svg');
  aspect-ratio: 920/320;
  background-size: 80%;
}

.quasar {
  background-image: url('quasar.svg');
}

.vue {
  background-image: url('vue.svg');
}

.tailwind {
  background-image: url('tailwind.svg');
}

.nodejs {
  background-image: url('nodejs.svg');
}

.go {
  background-image: url('go.svg');
  aspect-ratio: 919/343;
  background-size: 75%;
}

.firebase {
  background-image: url('firebase.svg');
}

.ionic {
  background-image: url('ionic.svg');
}

.angular {
  background-image: url('angular.svg');
}

.dotnet {
  background-image: url('dotnet.svg');
  aspect-ratio: 500/350;
  background-size: cover;
}

.csharp {
  background-image: url('csharp.svg');
}

.angularjs {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angularjs/angularjs-original.svg');
}

.vitec-nordman {
  background-image: url('vitec-nordman.png');
}

.umbraco {
  background-image: url('umbraco.png');
}

.d3 {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/d3js/d3js-original.svg');
}

.jquery {
  background-image: url('jquery.svg');
}

.cordova {
  background-image: url('cordova.png');
}

.coldfusion {
  background-image: url('coldfusion.svg');
}

.python {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-plain.svg');
}

.java {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-plain.svg');
}

.phonegap {
  background-image: url('phonegap.svg');
}

.career ul li {
  margin-top: var(--space-s);
}
.career > div {
  margin-top: var(--space-l);
  &:not(:last-child) {
    padding-bottom: var(--space-l);
  }
}
.career > div:not(:last-child),
.dotted-border {
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-image: radial-gradient(circle, red 0px, transparent 1px);
}

.dotted-border {
  padding-bottom: 1px;
}

.dark img[src*='extel.svg'],
.dark img[src*='arcanys.svg'],
.dark .vitec-nordman,
.dark .phonegap {
  filter: brightness(0) invert(1);
}

img[src*='arcanys.svg'],
img[src*='fujitsu.svg'] {
  height: var(--space-xl);
}

img[src*='extel.svg'],
img[src*='traxmate.svg'],
img[src*='our-global-team.png'],
img[src*='miller.png'],
img[src*='tgw.webp'] {
  height: var(--space-l);
}


img[src*='slatto.png'] {
  height: var(--step-1);
  position: relative;
  top: calc(var(--space-3xs) * 0.45);
}

img[src*='our-global-team.png'],
img[src*='slatto.png'] {
  filter: brightness(0) invert(1);
}

img[src*='tgw.webp'] {
  border-radius: var(--space-3xs);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

img[src*='fujitsu.svg'].white {
  filter: brightness(0) invert(1);
}

img[src*='photo.jpg'] {
  height: calc(var(--space-3xl) * 2.9);
  filter: grayscale(0.9);
}

.career .tgw,
.career .asx {
  font-weight: 400;
  font-size: var(--step-2);
}

img[src*='sample-map.png'] {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  /* For WebKit browsers */
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
}

.dark .pill {
  background: #1c1c1c;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: white;
}

.pill {
  border-radius: var(--step-2);
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  padding: var(--space-3xs) var(--step--2);
}

@media (max-width: 720px) {
  img[src*='photo.jpg'] {
    display: none;
  }
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-3xs {
  padding-top: var(--space-3xs);
  padding-bottom: var(--space-3xs);
}

.gap-0 {
  gap: 0;
}

.gap-3xs {
  gap: var(--space-3xs);
}

.career p.date {
  font-size: var(--step--1);
  margin-bottom: var(--space-xs);
}

.career ul li {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.career .story {
  font-size: var(--step--2);
  margin-top: var(--space-3xs);
  background-color: rgba(0, 0, 0, 0.35);
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: 3px;
  max-width: 676px;
}

.w-full {
  width: 100%;
}

.mt-3xs {
  margin-top: var(--space-3xs);
}

.mt-2xs {
  margin-top: var(--space-2xs);
}

.px-3xs {
  padding-left: var(--space-3xs);
  padding-right: var(--space-3xs);
}

.mt-s {
  margin-top: var(--space-s);
}

.psrs-logo {
  position: relative;
  transform: rotate(-45deg);
  width: calc(var(--step-2) * 1.25);

  &,
  &::before,
  &::after {
    background: white;
    display: inline-block;
    content: '';
    padding-top: 3px;
    border-radius: 3px;
  }

  &::after,
  &::before {
    position: absolute;
  }
  &::before {
    top: -215%;
    left: 26%;
    width: 28%;
  }
  &::after {
    bottom: -210%;
    right: 18%;
    width: 40%;
  }
}

.text-step-1 {
  font-size: var(--step-1);
}

.font-normal {
  font-weight: 400;
}